button {
 background-color: #2B3BCF;
 border: none;
 color: white;
 padding: 10px 10px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 20px;
}

.s2 {
  color: red;
}

.s1 {
  color: rgb(145, 255, 0);
}